/**
  Fonts
 */

$primary-font: 'Montserrat',sans-serif;

// headers
$header-1-font-size: 2em;
$header-2-font-size: 2.5rem;
$header-3-font-size: 1.17em;
$header-4-font-size: 1.5rem;
$header-5-font-size: 0.83em;

// paragraphs
$paragraph-font-size: 12pt;

// get the font style for an element
@mixin setFontStyle($size){
  font-size: $size;
  font-family: $primary-font;
}

/**
  Colours
*/
$white: white;
$black-dark: #151C1F;
$black-mid: #292929;
$black-light: #293237;
$black-text: #404040;
$blue-light: #78B1BB;
$grey-dark: rgba(0,0,0,.5);


